# Don't commit the quick start folder
./quick-start-package/*
# Don't commit the build folder
quick-start-package/build/
# Don't commit the test folder
quick-start-package/test/
# Don't commit the CMake Folder
quick-start-package/CMakeFiles/
# Don't push the CMakeList.txt
quick-start-package/CMakeLists.txt
# Dont push public
quick-start-package/workloads/public/

# for now...
execution_plan/
